<div id="<%= dom_id asset_management %>">
  <p>
    <strong>Name:</strong>
    <%= asset_management.name %>
  </p>

  <p>
    <strong>Serial:</strong>
    <%= asset_management.serial %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= asset_management.description %>
  </p>

</div>
